# Supabase Configuration
VITE_SUPABASE_URL=https://vccxlposjyypumbaejsi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjY3hscG9zanl5cHVtYmFlanNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MjUwMTgsImV4cCI6MjA5MDMwMTAxOH0.P_PExOyWDj8NqCcni7MnGZprcrpGPEg1ZlALa84Q51Y

# Admin Access Code
VITE_ADMIN_CODE=040511
